<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'search_product' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="ค้นหาสินค้า">
        </div>
        <div class="form-group">
            <select class="form-control" name="category">
                <option value="">เลือกประเภท</option>
                <option value="Computer">คอมพิวเตอร์</option>
                <option value="Laptop">โน๊ตบุ๊ค</option>
                <option value="Computer Accessory">อุปกรณ์คอมพิวเตอร์</option>
                <option value="Speaker">ลำโพง</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">ค้นหา</button>
    </form>
    {% if products %}
        <h2>ผลลัพธ์การค้นหาสำหรับ "{{ search_query }}"</h2>
        <ul>
            {% for product in products %}
                <li>{{ product.name }} - {{ product.price }} บาท <a href="{% url 'add_sale' product.id %}" class="btn btn-success">เพิ่มการขาย</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>ไม่พบผลลัพธ์สำหรับ "{{ search_query }}"</p>
    {% endif %}
    
</body>
</html>