{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="boxregister">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">ชื่อผู้ใช้:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_email">อีเมลล์:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_password1">รหัสผ่าน:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="id_password2">ยืนยันรหัสผ่าน:</label>
                {{ form.password2 }}
            </div>
            <button type="submit">ลงทะเบียน</button>
        </form>
        <div class="haveac">
            <a href="{% url 'login' %}">
                <button type="submit">มีบัญชีอยู่แล้ว</button>
            </a>
        </div>
    </div>
    
</body>
</html>
