body {
    background-color: #F57E20;
}

.navbar {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 0;
    text-align: right; 
    text-transform: uppercase;
    border-radius: 20px;
}

.navbar nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

.navbar p, .navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center; 
    font-size: 100px;
    text-transform: uppercase; 
    color: black; 
    margin-top: 50px; 
    position: relative; 
    text-shadow: 3px 2px rgb(255, 255, 255)
}

.formgroup {
    text-align: center;
  }
  
  .search-form {
    display: inline-block;
  }
  
  .form-group {
    display: flex;
    justify-content: center;
  }
  
  .form-group input[type="text"],
  .form-group select {
    width: 200px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    font-size: 16px;
    padding: 8px 20px;
  }


  .showdetail {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-box {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-box img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-info h3 {
    margin-top: 0;
  }
  
  .product-info p {
    margin: 5px 0;
  }
  
  .product-box {
    display: inline-block;
    width: 200px; 
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .photoimage img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: flex;
  }
  
  .product-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .product-box {
    display: inline-block;
    width: 200px; 
    height: 300px; 
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    margin-top: 50px;
  }
  
  .product-box:hover {
    transform: scale(1.05); 
    cursor: pointer; 
  }
  
  .product-box:active {
    transform: scale(0.95); 
  }
  
  .product-info p {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.buttomposts {
  background-color: red;
  color: white;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 20px;
}
  