body {
    background-color:  #F57E20;
}

.boxregister {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 70%;
    max-width: 800px;
    text-align: center;
}

.boxregister  h1 {
    font-size: 50px;
}

.boxregister  form {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
}

form label {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-right: 10px; 
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

form button {
    background-color: #f5202d; 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #17a557; 
}

form button:active {
    background-color: #0f6b3b; 
}

.haveac button {
    background-color: #2097f5;
    color: white;
}

.haveac button:hover {
    background-color: #176cb5; 
}

.haveac button:active {
    background-color: #0e4783;
}