{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    {% if request.user.is_authenticated and request.user.user_type == 'owner' %}
    <a href="{% url 'product_update' product.pk %}">Update</a>
    <form action="{% url 'product_delete' product.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    {% endif %}
    <form id="interestForm" method="POST" action="{% url 'notify' product_id=product.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="idline">ID Line:</label>
            <input type="text" class="form-control" id="idline" name="idline">
        </div>
        <button type="submit" class="btn btn-primary" id="interestBtn">ส่งข้อความ</button>
    </form>
    <img src="{{ product.image1.url }}" alt="{{ product.name }}">
    {% if product.image2 %}
    <img src="{{ product.image2.url }}" alt="{{ product.name }}">
    {% endif %}
    {% if product.image3 %}
    <img src="{{ product.image3.url }}" alt="{{ product.name }}">
    {% endif %}
    
</body>
</html>